/* font-family: 'Montserrat', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.page {
    width: 100%;
    height: 100vh;
}

#hero-bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg{
    position: absolute;
    width: 100%;
    height: 100%;
}

nav {
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    display: flex;
    padding: 2rem 8rem;
    justify-content: space-between;
}

nav img {
    width: 8rem;
}

nav ul {
    display: flex;
    list-style: none;
    padding-top: 2.25rem;
    font-weight: 900;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.nav-links {
    padding: 0rem 2rem;
    opacity: 0.8;
}

.nav-links:hover {
    transform: scale(1.2);
    opacity: 1;
}

nav ul li{
    transition: all 200ms ease-in-out;
}

nav ul li:hover{
    transform: scale(1.2);
}

#reg-nav {
    border: solid 0.25rem rgba(255, 255, 255, 0.8);
    padding: 0.6rem 2rem;
    opacity: 0.8;
    transition: all 200ms ease-in-out;
}

#reg-nav:hover {
    transform: scale(1.2);
    opacity: 1;
}
