/* Boiler Plate */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
}

*::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Loading Screen */

#loading {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #121212;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disappear 4s ease forwards;
}

#loading-icon {
    width: 30%;
    animation: load 2s ease forwards;
}

@keyframes load {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.7);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    99% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

/* Landing Page Background */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

#hero-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.anim {
    animation: clouds 15s infinite;
}

@keyframes clouds {
    from {
        transform: translateX(-50vw);
    }
    to {
        transform: translateX(50vw);
    }
}

.overlay {
    background-color: rgba(255, 255, 255, 0.1);
}

/* navbar */

nav {
    z-index: 10;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.05)
    );
    backdrop-filter: blur(5px);
    display: flex;
    padding: 2rem 8rem;
    justify-content: space-between;
}

nav img {
    width: 8rem;
}

ul {
    display: flex;
    list-style: none;
    padding-top: 2.25rem;
    font-weight: 900;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.nav-links {
    padding: 0rem 2rem;
    opacity: 0.8;
    text-shadow: 0 0 10px #c0c0c0, 0 0 20px #c0c0c0, 0 0 30px #c0c0c0,
        0 0 40px #c0c0c0, 0 0 50px #c0c0c0, 0 0 60px #c0c0c0, 0 0 70px #c0c0c0;
}

.nav-links:hover {
    transform: scale(1.2);
    opacity: 1;
}

nav ul li {
    transition: all 200ms ease-in-out;
}

nav ul li:hover {
    transform: scale(1.2);
}

#reg-nav {
    border: solid 0.25rem rgba(255, 255, 255, 0.8);
    padding: 0.6rem 2rem;
    opacity: 0.8;
    transition: all 200ms ease-in-out;
}

#reg-nav:hover {
    transform: scale(1.2);
    opacity: 1;
}

.mob-nav {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transform: scale(0);
    background-color: #f6d895;
}

.hidden {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.ham-menu {
    display: none;
}

/* Landing Page Main content */

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orange;
    z-index: 2;
}

.title {
    font-size: 3rem;
    margin: 3em 0rem 2rem 0rem;
    color: #ff0081;
    text-shadow: 0 0 2.5px #ddf6c3, 0 0 5px #ddf6c3, 0 0 15px #ff78bc;
}

main h1 {
    font-size: 9rem;
    padding: 0rem;
    color: rgba(255, 255, 255);
    text-shadow: 0 0 10px #c0c0c0, 0 0 20px #c0c0c0, 0 0 30px #c0c0c0,
        0 0 40px #c0c0c0, 0 0 50px #c0c0c0, 0 0 60px #c0c0c0, 0 0 70px #c0c0c0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.date {
    font-size: 3.5rem;
    margin: 2rem 0rem 3rem 0rem;
    color: #ff0081;
    text-shadow: 0 0 5px #f4b4d4, 0 0 15px #ff78bc;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.content {
    font-size: 1.5rem;
    text-align: center;
    width: clamp(40ch, 75ch, 90ch);
    margin-bottom: 3rem;
    color: rgba(255, 255, 255);
    font-weight: 500;
}

.two {
    background-color: #f6d895;
}

.three {
    background-image: url(./Untitled-1.png);
    background-position: center;
    background-size: contain;
}

/* Responsiveness */



@media only screen and (max-width: 600px) {
    html {
        font-size: 30%;
    }
    .content {
        font-size: 2.5rem;
        width: clamp(30ch, 40ch, 70ch);
    }
    nav {
        padding: 2rem 3rem;
    }
    .mob-nav {
        transform: translateX(100%) scale(1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mob-nav ul {
        display: flex;
        flex-direction: column;
        font-size: 5rem;
    }
    .desk-nav {
        transform: scale(0);
    }
    .show {
        transform: translateX(0%);
    }

    .ham-menu {
        display: unset;
    }
}
