* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.anim {
    animation: clouds 25s infinite;
}

.container-form {
    z-index: 10;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form div {
    width: 47%;
    height: 65vh;
    border-radius: 10%;
    background-color:rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: space-around;
}

.left-form{
    padding: 8rem 2rem;
    font-size: 1.5rem;
}

h1{
    z-index: 10;
    color: white;   
    margin-top: 15rem;
}

h2{
    align-self: center;
}

.container-form img{
    width: 10rem;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 30%;
    }
    .content {
        font-size: 2.5rem;
        width: clamp(30ch, 40ch, 70ch);
    }
    .container-form {
        display: flex;
        flex-direction: column;
    }
    .container-form div {
        height: 35vh;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .left-form{
        order: 1;
    }
}
